<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="TestScripts.ValidLoginTest" />
			<class name="TestScripts.InvalidLoginTest" />
			<class name="TestScripts.CreateUserTest" />
			<class name="TestScripts.CreateProjectAndCustomerTest" />
			<class name="TestScripts.DeleteAllProjectAndCustomerTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
